# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
build/
dist/
*.spec
.vscode/
.idea/

# Inno Setup
installer/
installer_meta/
*.iss

# Logs
*.log
[DEBUG]*.log

# Project specific
CPFs/
output/
settings.json
usage.json
.app_key
license.key
*.pdf
docpopular.db
*.db
.env
# Supabase login
licences_supabase/

# Agent
.agent/
.agent_ross/

#claude
.claude/
.claude_ross/
